/* Mobile first approach: default styles for mobile */
body {
    background-color: #ADD8E6; /* Light blue for mobile */
}

label {
    display: block;
    font-size: 1.2em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-bottom: 10px;
}


/* Styles for tablet and desktop */
@media (min-width: 601px){
    body {
        background-color: #90EE90; /* Light green for desktop */
    }

    #payment-information, #school-information, #personal-information {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    label {
        font-size: 1em; 
    }
}
    
.swiper-container {
    width: 100%;
    max-width: 600px; /* Adjust to your desired width */
    margin: 0;
}

.swiper-slide {
text-align: center;
background-color: #f1f1f1;
border: 1px solid #ddd;
}
#submit_button{
    margin: auto;
}