/*
***********************************
====================================
Table of content
====================================
***********************************

1. Body Style
2. Heading Style
3. Form Style

/************************* 
 Body Style
 **************************/

 body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

 /************************* 
 Heading Style
 **************************/

 h1{
    text-align: center;
    font-weight: bold;
}

 /************************* 
 Form Style
 **************************/

form {
    width: 80%;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

fieldset {
    margin-bottom: 15px;
}

fieldset:nth-of-type(5) label:nth-of-type(2) > input, label:nth-of-type(3) > input{
    display:inline-block;
    margin-left: 50%;
}

input[type="radio"] {
    display: inline-block;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: rgb(78, 206, 78);
}

/* Tablet and Desktop (above 601px) styles */
@media (min-width: 601px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-column-gap: 20px;
    }
    label {
        text-align: right;
    }
    input {
        width: 100%;
    }
}

/* Mobile-First Approach (up to 600px width) styles */
@media (max-width: 600px) {
    body {
        background-color: #f0e0e0;
    }
    label {
        font-size: 18px;
    }
    input {
        width: 100%;
        font-size: 18px;
    }
    h1{
        font-size: 1.5em;
    }
    fieldset:nth-of-type(5) label:nth-of-type(2) > input, label:nth-of-type(3) > input{
        display:block;
        margin-left: -48%;
    }
    
    input[type="radio"] {
        display: block;
    }
}


